{% extends 'main/layout.html' %}

{% block title %}Регистрация{% endblock %}
{% block css %}<link rel="stylesheet" href="static/main/css/register.css">{% endblock %}
{% block content %}
    <a id="reg">Регистрация</a>
    <a id="textlog">Логин</a>
    <form>
        <input type="login" id="log" maxlength="16">
    </form>
    <a id="textemail">Email</a>
    <form>
        <input type="email" id="email" maxlength="16">
    </form>
    <a id="textparol">Пароль</a>
    <form>
        <input type="parol" id="parol" maxlength="16">
    </form>
    <button type="button" id="sozdat" onClick='location.href="{% url 'avtoriz' %}"'>Создать аккаунт</button>
{% endblock %}